<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<title>Dimakan.com</title>
</head>

<body>
	<!-- @ HEADER -->
	<a href="#mainContent" class="skip-link">Go to content</a>
	<header class="app-bar">
		<div class="app-bar__menu">
			<button id="hamburgerButton"><i class="fas fa-bars"></i></button>
		</div>
		<div class="app-bar__brand">
			<div class="logo-holder logo-6">
				<a href="#">
					<h3>Di <span>makan.com</span></h3>
				</a>
			</div>
		</div>
		<nav id="navigationDrawer" class="app-bar__navigation">
			<ul>
				<li><a class="app-bar__link active" href="#/home">Home</a></li>
				<li><a class="app-bar__link" href="#">Favorite</a></li>
				<li><a class="app-bar__link" href="https://www.linkedin.com/in/ogi-setiawan-82a176132/">About Us</a>
				</li>
			</ul>
		</nav>
	</header>
	<!-- @ HEADER -->

	<!-- @ HERO -->
	<div id="hero" class="hero" role="img" aria-label="banner section">
		<div class="hero__inner">
			<h1 class="hero__title">Find your favorite place to hang out!</h1>
			<p class="hero__tagline">
				There's a lot of local restaurants and cozy caffe that waiting for you.
			</p>
		</div>
	</div>
	<!-- @ HERO -->

	<!-- @ CONTENT -->
	<main id="mainContent">
		<section class="content">
			<div class="explore">
				<h1 class="explore__label">Explore Restaurant</h1>
			</div>
		</section>
	</main>
	<!-- @ CONTENT -->

	<!-- @ FOOTER -->
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
		<path fill="#00303f" fill-opacity="1" d="M0,192L1440,64L1440,320L0,320Z"></path>
	</svg>
	<footer>
		<p class="footer__text">Copyright &copy; 2022 - @ogisetiawan</p>
	</footer>
	<!-- @ FOOTER -->
</body>

</html>